@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Diabetes.Models.User
@using Diabetes.Models

    <br />
    <div>
        <div>
            <div id="day-buttons">
                <input type="button" id="dayBefore" value="Previous Day" />
                @if (Model.chosenDate == DateTime.Today)
                {
                    <input type="button" id="dayAfter" value="Next Day" disabled />
                }
                else
                {
                    <input type="button" id="dayAfter" value="Next Day" />
                }


            </div>
            <h2>@Model.chosenDate.ToString("M/d/yyyy")</h2>
        </div>
        <div style="border-top: 2px solid"></div><br />
        <div>
            <div class="col-md-6">

                <table>
                    <tr>
                        <td class="input-items">
                            <b>Blood Sugar:</b>
                        </td>
                        <td class="input-items">
                            <input type="number" id="bloodSugar" />
                        </td>
                    </tr>
                    <tr>
                        <td class="input-items">
                            <b>Time:</b>
                        </td>
                        <td class="input-items">
                            <input type="time" id="timeBS" />
                        </td>
                    </tr>
                    <tr>
                        <td class="input-items">
                            <input type="button" value="Add Blood sugar" id="bloodSugarAdd" />
                        </td>
                        <td class="input-items">
                        </td>
                    </tr>
                </table>
                
                <hr />

                <table>
                    <tr>
                        <td class="input-items">
                            <b>Insulin:</b>
                        </td>
                        <td class="input-items">
                            <input type="number" id="units" />
                        </td>
                    </tr>
                    <tr>
                        <td class="input-items">
                            <b>Time:</b>
                        </td>
                        <td class="input-items">
                            <input type="time" id="timeInsulin" />
                        </td>
                    </tr>
                    <tr>
                        <td class="input-items">
                            <input type="button" value="Add insulin" id="insulinAdd" />
                        </td>
                        <td class="input-items">
                        </td>
                    </tr>
                </table>
                
                <hr />

                <table>
                    <tr>
                        <td class="input-items">
                            <b>Carbs:</b>
                        </td>
                        <td class="input-items">
                            <input type="number" id="carbs" />
                        </td>
                    </tr>
                    <tr>
                        <td class="input-items">
                            <b>Time:</b>
                        </td>
                        <td class="input-items">
                            <input type="time" id="timeCarbs" />
                        </td>
                    </tr>
                    <tr>
                        <td class="input-items">
                            <input type="button" value="Add carbs" id="carbsAdd" />
                        </td>
                        <td class="input-items">
                        </td>
                    </tr>
                </table>
                
                <hr />

            </div>
            <div class="col-md-6">
                <div id="results">
                    <br />
                    <table class="list-items">
                        @foreach (Entry entry in Model.allEntries)
                        {
                            if (entry.insertTime.Year == Model.chosenDate.Year &&
                                entry.insertTime.Month == Model.chosenDate.Month &&
                                entry.insertTime.Day == Model.chosenDate.Day)
                            {

                                if (entry is CarbEntry)
                                {
                                    CarbEntry c = (CarbEntry)entry;
                                    <tr class="list-items">
                                        <td class="list-items">
                                            <b>@c.insertTime.ToString("h:mm tt")</b>: Ate <b>@c.carbs</b> carbs.
                                        </td>
                                        <td>
                                            <input type="button" value="Delete" onclick="deleteCarbsEntry(@entry.entryID)" />
                                        </td>
                                    </tr>
                                }
                                else if (entry is BloodSugarEntry)
                                {
                                    BloodSugarEntry b = (BloodSugarEntry)entry;
                                    <tr class="list-items">
                                        <td class="list-items">
                                            <b>@b.insertTime.ToString("h:mm tt")</b>: Blood sugar level of <b>@b.bloodSugar</b>.
                                        </td>
                                        <td>
                                            <input type="button" value="Delete" onclick="deleteBloodSugarEntry(@entry.entryID)" />
                                        </td>
                                    </tr>
                                }
                                else if (entry is InsulinEntry)
                                {
                                    InsulinEntry i = (InsulinEntry)entry;
                                    <tr class="list-items">
                                        <td class="list-items">
                                            <b>@i.insertTime.ToString("h:mm tt")</b>: Took <b>@i.units</b> units. 
                                        </td>
                                        <td>
                                            <input type="button" value="Delete" onclick="deleteInsulinEntry(@entry.entryID)" />
                                        </td>
                                    </tr>
                                    } 
                                }
                            }
                        </table>
                </div>
            </div>
        </div>
    </div>
<br /><br /><br /><br /><br /><br />
                              
<script>
   // Delete blood sugar
function deleteBloodSugarEntry(entryId) {
    $.ajax({
        url: "/Home/DeleteBloodSugar",
        data: {
            'entryId': entryId
        },
        type: "POST",
        success: function (data) {
            var url = '@Url.Action("Index", "Home")';
            window.location.href = url;
        },
        error: function (data) {
            //alert("Failed insulin");
        }
    });
}

// Delete carbs entry
function deleteCarbsEntry(entryId) {
    $.ajax({
        url: "/Home/DeleteCarbs",
        data: {
            'entryId': entryId
        },
        type: "POST",
        success: function (data) {
            var url = '@Url.Action("Index", "Home")';
            window.location.href = url;
        },
        error: function (data) {
            //alert("Failed insulin");
        }
    });
}

// Delete insulin entry
function deleteInsulinEntry(entryId) {
    $.ajax({
        url: "/Home/DeleteInsulin",
        data: {
            'entryId': entryId
        },
        type: "POST",
        success: function (data) {
            var url = '@Url.Action("Index", "Home")';
            window.location.href = url;
        },
        error: function (data) {
            //alert("Failed insulin");
        }
    });
}
$(document).ready(function () {
    // set time value to the current time
    var date = new Date();
    var hour = date.getHours();
    var minutes = date.getMinutes();

    hour = (hour < 10 ? "0" : "") + hour;
    minutes = (minutes < 10 ? "0" : "") + minutes;

    var currentTime = hour + ":" + minutes;
    $('#timeCarbs').val(currentTime);
    $('#timeInsulin').val(currentTime);
    $('#timeBS').val(currentTime);

    // Go to the previous day
    $('#dayBefore').click(function () {
        $.ajax({
            url: "/Home/IncrementDecrementDate",
            data: {
                'move': -1
            },
            type: "POST",
            success: function (data) {
                var url = '@Url.Action("Index", "Home")';
                window.location.href = url;
            },
            error: function (data) {
                //alert("Failed insulin");
            }
        });

    });

    // Go to the next day
    $('#dayAfter').click(function () {
        $.ajax({
            url: "/Home/IncrementDecrementDate",
            data: {
                'move': 1
            },
            type: "POST",
            success: function (data) {
                var url = '@Url.Action("Index", "Home")';
                window.location.href = url;
            },
            error: function (data) {
                // alert("Failed insulin");
            }
        });

    });

    // Add blood sugar entry
    $('#bloodSugarAdd').click(function () {
        var bsLevel = $('#bloodSugar').val();
        var time = $('#timeBS').val();

        if (!bsLevel || !time) {
            $('#BSError').text("Please fill all fields");
        }
        else {
            $('#BSError').text("");
            var hours = time.split(":")[0];
            var minutes = time.split(":")[1];

            $.ajax({
                url: "/Home/AddBloodSugarLevel",
                data: {
                    'BSLevel': bsLevel,
                    'dateTime': '@Model.chosenDate',
                    'hours': hours,
                    'minutes': minutes
                },
                type: "POST",
                success: function (data) {
                    var url = '@Url.Action("Index", "Home")';
                    window.location.href = url;
                },
                error: function (data) {

                }
            });
        }
    });

    // Add carb entry
    $('#carbsAdd').click(function () {
        var carbs = $('#carbs').val();
        var time = $('#timeCarbs').val();

        if (!carbs || !time) {
            $('#CarbsError').text("Please fill all fields");
        }
        else {
            var hours = time.split(":")[0];
            var minutes = time.split(":")[1];

            $('#CarbsError').text("");
            $.ajax({
                url: "/Home/AddCarbs",
                data: {
                    'carbs': carbs,
                    'dateTime': '@Model.chosenDate',
                    'hours': hours,
                    'minutes': minutes
                },
                type: "POST",
                success: function (data) {
                    var url = '@Url.Action("Index", "Home")';
                    window.location.href = url;
                },
                error: function (data) {

                }
            });
        }
    });

    // Add insulin entry
    $('#insulinAdd').click(function () {
        var units = $('#units').val();
        //var insulinType = $("[name='insulinType']:checked").val();
        var time = $('#timeInsulin').val();

        //var insulinInt = 0;
        //if (insulinType == "fast") {
        //    insulinInt = 1;
        //}
        //else {
        //    insulinInt = 2;
        //}

        if (!units || !time) {
            $('#InsulinError').text("Please fill all fields");
        }
        else {
            $('#InsulinError').text("");
            var hours = time.split(":")[0];
            var minutes = time.split(":")[1];
            $.ajax({
                url: "/Home/AddInsulin",
                data: {
                    'units': units,
                    'dateTime': '@Model.chosenDate',
                    'hours': hours,
                    'minutes': minutes,
                    'insulinType': 1
                },
                type: "POST",
                success: function (data) {
                    var url = '@Url.Action("Index", "Home")';
                    window.location.href = url;
                },
                error: function (data) {
                }
            });
        }
    });
});
</script>

