@{
    ViewBag.Title = "Contact";
    //List<DateTime> dates = Model.bloodSugarEntries.Select(entry => entry.insertTime).ToList();
}
@model Diabetes.Models.User
    <script src="~/Scripts/Chart.js" type="text/javascript"></script>

<h2>Tracker</h2>

<div>
    <input type="button" id="lastSeven" value="Last 7 Days" />
</div>
<div>
    <label for="beginTime">Start Time:</label>
    <input type="datetime-local" id="beginTime" />
    <label for="endTime">End Time:</label>
    <input type="datetime-local" id="endTime" /><br />
    <input type="button" id="dates" value="Get Data"/>
</div>
<div>
    <label for="bloodSugar">Blood Sugar:</label>
    <input type="checkbox" id="bloodSugar" value="Blood" />
    <label for="carbs">Carbs:</label>
    <input type="checkbox" id="carbs" value="Carbs" />
    <label for="insulin">Insulin:</label>
    <input type="checkbox" id="insulin" value="Insulin" />
</div>
<div>
    @if (Model.bloodSugarEntries != null)
    {
        <div class="col-md-4">
            <h3>Blood Sugar</h3>
            <ul>
                @foreach (var entry in Model.bloodSugarEntries)
                {
                    <li>@entry.bloodSugar blood sugar @entry.insertTime</li>
                }
            </ul>
        </div>
    }
    @if (Model.carbEntries != null)
    {
        <div class="col-md-4">
            <h3>Carbs</h3>
            <ul>
                @foreach (var entry in Model.carbEntries)
                {
                    <li>@entry.carbs carbs @entry.insertTime</li>
                }
            </ul>
        </div>
    }
    @if (Model.insulinEntries != null)
    {
        <div class="col-md-4">
            <h3>Insulin</h3>
            <ul>
                @foreach (var entry in Model.insulinEntries)
                {
                    <li>@entry.units units @entry.insertTime</li>
                }
            </ul>
        </div>
    }
    <br /><br /><br /><br /><br />

    
</div>
<div><canvas id="bloodSugarChart" width="400" height="400"></canvas></div>

<script>
    $(document).ready(function () {
        $('#lastSeven').click(function () {
            var includeBlood = false;
            var includeCarbs = false;
            var includeInsulin = false;
            if ($("#bloodSugar").is(':checked')) {
                includeBlood = true;
            }
            if ($("#carbs").is(':checked')) {
                includeCarbs = true;
            }
            if ($("#insulin").is(':checked')) {
                includeInsulin = true;
            }
            var timeFrame = 7;
            $.ajax({
                url: "/Home/GetDataByTimeframe",
                data: {
                    'timeFrame': timeFrame,
                    'includeBlood': includeBlood,
                    'includeCarbs': includeCarbs,
                    'includeInsulin': includeInsulin
                },
                type: "POST",
                success: function (data) {
                  // alert(data);
                    var url = '@Url.Action("Tracker", "Home")';
                    window.location.href = url;
                    //var ctx = $('#bloodSugarChart').getContext('2d');


                    //var myChart = new Chart(ctx, {

                    //    type: 'line',
                    //    data: {

                    //        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                    //        datasets: [{
                    //            data: [86, 114, 106, 106, 107, 111, 133, 221, 783, 2478],
                    //            label: "Africa",
                    //            borderColor: "#3e95cd",
                    //            fill: false
                    //        }]
                    //    }
                    //});
                },
                error: function (data) {
                   // alert("Failed insulin");
                }
            });

        });
    });

    $(document).ready(function () {
        $('#dates').click(function () {
            var includeBlood = false;
            var includeCarbs = false;
            var includeInsulin = false;
            if ($("#bloodSugar").is(':checked')) {
                includeBlood = true;
            }
            if ($("#carbs").is(':checked')) {
                includeCarbs = true;
            }
            if ($("#insulin").is(':checked')) {
                includeInsulin = true;
            }
            var beginTime = $('#beginTime').val();
            var endTime = $('#endTime').val();
            $.ajax({
                url: "/Home/GetDataByDates",
                data: {
                    'beginTime': beginTime,
                    'endTime': endTime,
                    'includeBlood': includeBlood,
                    'includeCarbs': includeCarbs,
                    'includeInsulin': includeInsulin
                },
                type: "POST",
                success: function (data) {
                    //alert(data);
                    var url = '@Url.Action("Tracker", "Home")';
                    //var dates = [];
                    //var values = [];
                    //for (var i = 0; i < data.length; i++) {
                    //    dates.push(data[i].insertTime);
                    //    values.push(data[i].bloodSugar);
                    //}
                    //alert(dates);
                    //alert(values);
                    window.location.href = url;
                },
                error: function (data) {
                   // alert("Failed insulin");
                }
            });

        });
    });
</script>